<div class="mainContent">
    <div class="portal"></div>
    <div class="afterPortal">
        <div class="top">
            <h1 id="title"><img src="../assets/img/rick and morty.png" width="69px" alt="rick and morty" /> Rick and Morty <small>Wiki</small></h1>
        </div>
        <div class="card">
            <div class="container">
                <div class="bordersControl">
                    <div class="buttonsClass">
                        <a href="#" class="btn">Characters</a>
                        <a href="#" class="btn">Locations</a>
                        <a href="#" class="btn">Episodes</a>
                    </div>

                    <input type="text" placeholder="Search..." />

                </div>
                <div class="contentPainel" style="height: 300px;">
                    <h4>*List of Characters, List of Locations, List of Episodes or Characters details</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />


<footer style="color:white;">Developed by <a href="https://www.github.com/marcovicar" target="_blank">@marcovicar</a></footer>