<div>
    <h1 id="title"><img src="../assets/img/rick and morty.png" width="69px" alt="rick and morty" /> Rick and Morty <small>Info</small></h1>

    <div class="card">
        <div class="container">
            <br>
            <div class="buttons">
                <a href="#" class="btnBar">Characters</a>
                <a href="#" class="btnBar">Locations</a>
                <a href="#" class="btnBar">Episodes</a>

                <input type="text" id="search" placeholder="Search...">
            </div>
            <br>
            <div class="contentPainel" style="height: 300px;">
                <h4>*List of Characters, List of Locations, List of Episodes or Characters details</h4>
            </div>
            <br />
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />