<div>
    <h1 id="title">Rick and Morty <small>Info</small></h1>
    <br />
    <div class="card">
        <div class="container">
            <br>
            <div class="buttons">
                <a href="#" class="btnBar">Characters</a>
                <a href="#" class="btnBar">Locations</a>
                <a href="#" class="btnBar" style="margin-right: 89px;">Episodes</a>

                <input type="text" id="search" placeholder="Search...">
            </div>
            <br>
            <div class="contentPainel">
                <h4>*List of Characters, List of Locations, List of Episodes or Characters details</h4>
            </div>
            <br />
        </div>
    </div>

</div>